.modal {
	position: fixed;
	top: 0px;		/*fill whole screen*/
	width: 100%;		
	height: 100%;
	overflow: auto;	/*Enable scroll if needed*/
	transition: 1s;
	-webkit-transition: 1s;
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index: 100;
}

.modal-content {
	display: flex;
	justify-content: center;
	min-width: 40%;
	max-width: 60%;
	width: auto;
	height: auto;
	margin: 5% auto;	/*horizonally center*/
	padding: 2px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animateOut;
    -webkit-animation-duration: 1s;
    animation-name: animateOut;
    animation-duration: 1s;
	border-radius: 0;

	background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) , rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(0,0,0,0.4)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,0.4) , rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9), rgba(0,0,0,0.4)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,0.4) , rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(0,0,0,0.4)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,0,0.4) , rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9), rgba(0,0,0,0.4)); /* Standard syntax */
}
.forimg {
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.0);
}
@-webkit-keyframes animateOut {
    from {opacity:0;} 
    to {opacity:1;}
}

@keyframes animateOut {
    from {opacity:0;} 
    to {opacity:1}
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@-webkit-keyframes animateSideL {
    from {width:90%;} 
    to {width:110%;}
}

@keyframes animateSideL {
    from {width:90%;} 
    to {width:110%;}
}

@-webkit-keyframes animateSideR {
    from {right:-200px; opacity:0.3} 
    to {right:0px; opacity: 1}
}

@keyframes animateSideR {
    from {right:-200px;  opacity:0.3} 
    to {right:0px; opacity: 1}
}

.close {
	position: fixed;
	display: table-cell;
	float:right; 
	background: transparent;
	width: auto;
	padding: 3%;
	text-align: center;
	border-style: hidden;
	color: white;
	transition: 0.2s;
	cursor: pointer;
}

.close:hover, 
.close:focus {
	opacity: 0.5;
	cursor: pointer;
}


.formodal td{
	display:table-cell;
	position: relative;
	top: 0px;
	margin: 0;
	padding:2px;
	height: 100%;
	background-color: rgba(186, 180, 169, 0.5);
	border-radius: 0;
	
}


.formodal tr {
	position: relative; 
	display: block; 
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0;
}

.formodal h1 {
	text-align: left;
	font-size: 30pt;
	font-family: 'Delius';
	margin-bottom: 5%;
	margin-top: 0%;
	padding-top: 0%;
	padding: 10px;
	top:0px;
	width: 110%;
	
}

.sliderL {
	-webkit-animation-name: animateSideL;
    -webkit-animation-duration: .9s;
    animation-name: animateSideL;
    animation-duration: 0.9s;
	background: rgba(255, 255, 255, 0.9); 
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) , rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.9) ,rgba(255, 255, 255, 0.9),  rgba(255, 255, 255, 0)w); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.9) , rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9) , rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); /* Standard syntax */
}

.sliderR {
	-webkit-animation-name: animateSideR;
    -webkit-animation-duration: 0.5s;
    animation-name: animateSideR;
    animation-duration: 0.5s;
	background-color: rgba(250, 250, 250, 0.5);
}

.add {
	float: right;
	background: transparent;
	border: none;
}
.add:hover {
	color:grey;
	cursor: pointer;
}

.cantadd { color: #BCBCBC; }
.cantadd:hover {
	cursor: not-allowed;
}
.formodal p {
	padding:3%;
	font-size: 15pt;
	font-family: 'Bellefair';
	text-align: left;
	align-items: right;
	position: relative;
}

.innerT {
	display: table-cell;
}

.addWork {
	background-color:transparent;
	border-radius: 20px;
	border-style: dashed;
	border-color: black;
	padding:2%;
	width: 30%;
	height: auto;
	float: right;
	cursor: pointer;
	display: block;
	margin-bottom: 1%;
	margin-top: 1%;
	font-family: inherit;
}
.formodal form {
	background-color: rgba(250, 250, 250, 0.5);
	width: 100%;
	text-align: right;
	display: inline-block;
}