
div#underlinethin {
	float: right;
	width:80%;
	background: grey;
	height: 1px;
	margin: 1%;
	margin-right: 8%;
	display: block;
	z-index: 1;
}

div#sideBar {
	position: fixed;
	top: 60px;
	padding-top: 1em;
    width: 25%;
	height: 100%;
    left: 0pt;
	text-align: right;
}



.title {
	position: relative;
	margin-right: 3% ;
	padding:3%;
	padding-bottom: 1%;
	margin-top: 10%;
	font-size: 100pt;
	font-family: Barrio;
	top:0px;
	margin-bottom: 0;
}

@media (max-width: 992px) {
	#sideBar {
		position: relative !important;
		width: 100% !important;
		height: fit-content;
	}
	.title {
		width: 100%;
		margin: 0;
		margin-left:10%;
		font-size: 60pt;
		padding:1%;
		float:left;
	}
	p1 {
		width: 90% !important;
		margin-top: 3% !important;
		padding-top: 0 !important;
	}

}

h2 {
	position: relative;
	margin-right: 8%;
	padding:0%;
	padding-bottom: 0;
	margin-top: 0%;
	font-size: 40pt;
	font-family: Barrio;
	top:0px;
	margin-bottom: 0;
}


p1 {
	float: right;
	margin: 0;
	margin-top:8%;
	width: 70%;
	top: 0em;
	padding:8%;
	padding-top:3%;
	font-size: 15pt;
	font-family: 'Delius';
	backface-visibility: hidden;
}

p2 {
	float:right;
	font-size: 13pt;
	padding: 4%;
	padding-right:0%;
	padding-top:8%;
	width: 120%;
	margin-top:0;
	font-family: 'Bubbler One';
}

.moveright {
	left:24%;
}

@media (max-width: 420px) {
	.moveright {
	justify-content: none;
	left:0;
}
}