
	table.to {
		display: inline-block;
		width:50%; 
		margin:auto; 
		margin-right:10%;
		margin-top:7%;
		float:right;
	}

td.extends {
	width:20%;
	height: 40%;
	background-color: #D1ACAC;
	-webkit-transition: 1.5s; -webkit-animation-name: opac;
    transition: 1.5s; animation-name: opac;
}

td.extends:hover{
	background-color: #9A6363;
}

a.labNum
{
	font-family: Cambria;
	font-size: 18pt;
	color: black;
	text-decoration: none;
	padding-left: 20px;
	width:5%;
}

div.descript
{
	display: block; 
	font-size: 15pt;
    font-family: Caveat;
	padding-left: 8%;
}

#underln {
	height: 12px;
    width = 90%;
    background: #865C5C;
}
.content {
	position: relative;
	z-index: 1;  
	height:100%; 
	margin-left: 5%;
	margin-right: 5%;
}

#mainBackground {
	position: fixed;
	display: block;
	float: center;
	top: 40px;
  margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	background: white;
	z-index: -1;
}
